{% extends 'base.html' %}
{% load static %}
    
<title>
    {% block titulo %}
    Lista de Post
    {% endblock %}
</title>

{% block cuerpo %}
<div class="hero-section-blog">
    <h3 class="mb-4 tittle-post">Bienvenido al Blog</h3>
    <div style="text-align: center;">
        <a href="{% url 'AppBlog:create' %}" class="btn btn-success me-2">Crear nuevo post</a>
        <hr>
    </div>
</div>
    <ul class="row row-post">
        {% for post in posts %}
            <li class="col-md-6 mb-4">
                        <div class="card-post">
                            <div class="card-body-post">
                                <a href="{% url 'AppBlog:detail' post.pk %}" class="btn btn-success me-2 card-title-post">{{ post.title }}</a>
                                <p class="text-muted hour-fech">Publicado: {{ post.created_at|date:"d M Y" }}</p>
                                <p class="text-muted hour-fech">Hora: {{ post.created_at|date:"H:i" }}</p>
                                <p class="card-content-post" style="word-wrap: break-word;">{{ post.content|truncatechars:100 }}</p>
                            </div>
                        </div>
                    </div>
                </div>               
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
