<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}AppCoder - Inicio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #343a40;">
        <div id="navbarNav">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active bg-success {% if request.resolver_match.url_name == 'index' %}{% endif %}" aria-current="page" href="{% url 'index' %}">
                        {% if request.resolver_match.url_name in 'index,acerca,contacto' %}
                        AppCoder
                        {% elif request.resolver_match.url_name in 'lista_socios,cargar_socio' %}
                        Socios
                        {% elif request.resolver_match.url_name in 'lista_instructores,cargar_instructor' %}
                        Instructores
                        {% elif request.resolver_match.url_name in 'cargar_actividad,lista_actividades' %}
                        Actividad
                        {% elif request.resolver_match.url_name in 'list,create,detail,update,delete' %}
                        Blog
                        {% elif request.resolver_match.url_name in 'inbox,message_detail,send_message' %}
                        Mensajes
                        {% elif request.resolver_match.url_name in 'login,edit_profile,change_password,profile,signup,register' %}
                        Usuario
                        {% else %}
                        App{{ request.resolver_match.url_name|capfirst }}
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="ms-auto">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <span class="text-white">{{ user.username }}</span>
                    <img class="img-login" src="{{ user.profile.avatar.url|default:'/media/avatars/avataruser.png' }}" alt="Avatar">
                    <li><a class="nav-link" href="{% url 'AppAccounts:profile' %}" style="color: #d6d6d6;">Perfil</a></li>
                    <li><a class="nav-link"href="{% url 'AppAccounts:logout' %}" style="color: #d6d6d6;">Logout</a></li>
                    {% if user.is_staff %}
                    <li><a class="nav-link" href='/superadmin/' style="color: #d6d6d6;">Admin</a></li>
                    {% endif %}
                {% else %}
                    <li><a class="nav-link" href="{% url 'AppAccounts:register' %}" style="color: #d6d6d6;">Signup</a></li>
                    <li><a class="nav-link" href='/superadmin/' style="color: #d6d6d6;">Admin</a></li>
                {% endif %}
                </li>
                </li>
            </ul>
        </div>
    </nav>
    {% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block cuerpo %}


    {% endblock %}
    <footer class="footer">
        <p>&copy; 2025 AppCoder - Todos los derechos reservados</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        setTimeout(function() {
            var alert = document.querySelector('.alert');
            if (alert) {
                alert.classList.remove('show');
            }
        }, 5000);  // Los mensajes desaparecerán después de 5 segundos
    </script>
</body>
</html>