{% extends 'base_perfil.html' %}
{% load static %}

{% block titulo %}Editar Perfil{% endblock %}

{% block cuerpo %}
<div class="container my-5">
  <div class="card shadow-lg">
    <div class="card-header bg-success text-white">
      <h1 class="text-center">Editar Usuario</h1>
    </div>
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
        </div>
        <div class="form-group">
          {{ form.last_name.label_tag }}
          {{ form.last_name }}
        </div>
        <p></p>
        <div class="form-group">
          {{ form.bio.label_tag }}
          {{ form.bio }}
        </div>
        <p></p>
        <div class="form-group">
          {{ form.birthday.label_tag }}
          {{ form.birthday }}
        </div>
        <div class="form-group">
          {{ form.address.label_tag }}
          {{ form.address }}
        </div>
        <div class="form-group">
          {{ form.phone.label_tag }}
          {{ form.phone }}
        </div>
        <p></p>
        <div class="form-group">
          <label>Selecciona tu avatar:</label>
          <p></p>
          <div class="avatar-selection">
            {% for value, label in form.fields.avatar.choices %}
              <label class="avatar-label">
                <input type="radio" name="avatar" value="{{ value }}" {% if form.avatar.value == value %}checked{% endif %}>
                <img src="{{ MEDIA_URL }}{{ value }}" alt="{{ label }}" class="avatar-img">
              </label>
            {% endfor %}
          </div>
        </div>

        <div class="justify-content-end mt-3">
          <button type="submit" class="btn btn-success me-2">Guardar cambios</button>
          <button href="{% url 'AppAccounts:profile' %}" class="btn btn-secondary m-2">Volver al perfil</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

