{% extends 'base_perfil.html' %}
{% load static %}

{% block titulo %}Perfil de Usuario{% endblock %}

{% block cuerpo %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
          <h1 class="text-center">Perfil de {{ user.user.username }}</h1>
        </div>
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="{{ user.avatar.url }}" alt="{{ user.user.username }}" class="rounded-circle" width="150">
          </div>
          <div class="mb-3">
            <h4 class="profile-text"><strong>Nombre:</strong> {{ user.user.first_name }} {{ user.user.last_name }}</h4>
          </div>
          <div class="mb-3">
            <h4 class="profile-text"><strong>Correo:</strong> {{ user.user.email }}</h4>
          </div>
          <div class="mb-3">
            <h4 class="profile-text"><strong>Biografía:</strong> {{ user.bio }}</h4>
          </div>
          <div class="mb-3">
            <h4 class="profile-text"><strong>Fecha de nacimiento:</strong> {{ user.birthday }}</h4>
          </div>
            <div class="d-flex justify-content-center"></div>
            <a href="{% url 'AppAccounts:edit_profile' %}" class="btn bg-success me-2">Editar Perfil</a>
            <a href="{% url 'AppAccounts:change_password' %}" class="btn btn-warning">Cambiar Contraseña</a>
            <a href="{% url 'AppAccounts:logout' %}" class="btn btn-danger m-2">Cerrar Sesión</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Regresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
